In [ ]:
import requests
import pandas as pd
from io import StringIO

r = requests.get('https://api.oikolab.com/weather',
                 params={'param': ['temperature', 'total_precipitation'],
                         'location': 'Hyderabad, Telangana, India',
                         'start': '2005-01-01',
                         'end': '2024-12-31',
                         'freq': 'H',
                         'resample_method': 'mean',
                         'format': 'csv'},
                 headers={'api-key1': os.getenv("API-KEY1")})

if r.status_code == 200:
    csv_data = r.text
    
    data = pd.read_csv(StringIO(csv_data))
    
    print(data.head())
else:
    print(f"Failed to retrieve data. Status code: {r.status_code}, Error: {r.text}")

        datetime (UTC)   coordinates (lat,lon) model (name)  \
0  2005-01-01 00:00:00  (17.361362, 78.474525)         era5
1  2005-01-01 01:00:00  (17.361362, 78.474525)         era5
2  2005-01-01 02:00:00  (17.361362, 78.474525)         era5
3  2005-01-01 03:00:00  (17.361362, 78.474525)         era5
4  2005-01-01 04:00:00  (17.361362, 78.474525)         era5

   model elevation (surface)  utc_offset (hrs)  temperature (degC)  \
0                     563.89               5.5               17.94
1                     563.89               5.5               17.92
2                     563.89               5.5               19.86
3                     563.89               5.5               20.47
4                     563.89               5.5               21.34

   total_precipitation (mm of water equivalent)
0                                           0.0
1                                           0.0
2                                           0.0
3                                           0.0
4                                           0.0

In [8]:
data.to_csv('/Users/bhupathiraju_renisha/Desktop/Climate/hyderabad_weather_data.csv', index=False)

In [ ]:
import requests
import pandas as pd
from io import StringIO

r = requests.get('https://api.oikolab.com/weather',
             params={'param': 'relative_humidity',
                     'location': 'Hyderabad, Telangana, India',
                     'start': '2005-01-01',
                     'end': '2024-12-31',
                     'freq': 'H',
                     'resample_method': 'mean',
                     'format': 'csv',},
             headers={'api-key1': os.getenv("API-KEY1")})

if r.status_code == 200:
    csv_data = r.text
    
    data = pd.read_csv(StringIO(csv_data))
    
    print(data.head())
else:
    print(f"Failed to retrieve data. Status code: {r.status_code}, Error: {r.text}")

        datetime (UTC)   coordinates (lat,lon) model (name)  \
0  2005-01-01 00:00:00  (17.361362, 78.474525)         era5
1  2005-01-01 01:00:00  (17.361362, 78.474525)         era5
2  2005-01-01 02:00:00  (17.361362, 78.474525)         era5
3  2005-01-01 03:00:00  (17.361362, 78.474525)         era5
4  2005-01-01 04:00:00  (17.361362, 78.474525)         era5

   model elevation (surface)  utc_offset (hrs)  relative_humidity (0-1)
0                     563.89               5.5                     0.91
1                     563.89               5.5                     0.93
2                     563.89               5.5                     0.87
3                     563.89               5.5                     0.82
4                     563.89               5.5                     0.75

In [3]:
data.to_csv('/Users/bhupathiraju_renisha/Desktop/Climate/hyderabad_weather_data_rh.csv', index=False)

In [ ]:
import requests
import pandas as pd
from io import StringIO

r = requests.get('https://api.oikolab.com/weather',
             params={'param':['10m_u_component_of_wind','10m_v_component_of_wind'],
                     'location': 'Hyderabad, Telangana, India',
                     'start': '2005-01-01',
                     'end': '2024-12-31',
                     'freq': 'H',
                     'resample_method': 'mean',
                     'format': 'csv',},
             headers={'api-key2': os.getenv("API-KEY2")}
             )

if r.status_code == 200:
    csv_data = r.text
    
    data = pd.read_csv(StringIO(csv_data))
    
    print(data.head())
else:
    print(f"Failed to retrieve data. Status code: {r.status_code}, Error: {r.text}")

        datetime (UTC)   coordinates (lat,lon) model (name)  \
0  2005-01-01 00:00:00  (17.361362, 78.474525)         era5
1  2005-01-01 01:00:00  (17.361362, 78.474525)         era5
2  2005-01-01 02:00:00  (17.361362, 78.474525)         era5
3  2005-01-01 03:00:00  (17.361362, 78.474525)         era5
4  2005-01-01 04:00:00  (17.361362, 78.474525)         era5

   model elevation (surface)  utc_offset (hrs)  10m_u_component_of_wind (m/s)  \
0                     563.89               5.5                          -2.04
1                     563.89               5.5                          -2.10
2                     563.89               5.5                          -2.61
3                     563.89               5.5                          -2.76
4                     563.89               5.5                          -2.79

   10m_v_component_of_wind (m/s)
0                           1.87
1                           1.83
2                           2.36
3                           2.78
4                           2.99

In [10]:
data.to_csv('/Users/bhupathiraju_renisha/Desktop/Climate/hyderabad_weather_data_wind.csv', index=False)

In [13]:
import pandas as pd

df_temp = pd.read_csv('/Users/bhupathiraju_renisha/Desktop/Climate/hyderabad_weather_data.csv')  
df_humidity = pd.read_csv('/Users/bhupathiraju_renisha/Desktop/Climate/hyderabad_weather_data_rh.csv')  
df_wind = pd.read_csv('/Users/bhupathiraju_renisha/Desktop/Climate/hyderabad_weather_data_wind.csv') 

merged_df = pd.merge(df_temp, df_humidity, on=['datetime (UTC)', 'coordinates (lat,lon)'], how='outer')
merged_df = pd.merge(merged_df, df_wind, on=['datetime (UTC)', 'coordinates (lat,lon)'], how='outer')

merged_df.to_csv('merged_data.csv', index=False)

print(merged_df.head())

        datetime (UTC)   coordinates (lat,lon) model (name)_x  \
0  2005-01-01 00:00:00  (17.361362, 78.474525)           era5
1  2005-01-01 01:00:00  (17.361362, 78.474525)           era5
2  2005-01-01 02:00:00  (17.361362, 78.474525)           era5
3  2005-01-01 03:00:00  (17.361362, 78.474525)           era5
4  2005-01-01 04:00:00  (17.361362, 78.474525)           era5

   model elevation (surface)_x  utc_offset (hrs)_x  temperature (degC)  \
0                       563.89                 5.5               17.94
1                       563.89                 5.5               17.92
2                       563.89                 5.5               19.86
3                       563.89                 5.5               20.47
4                       563.89                 5.5               21.34

   total_precipitation (mm of water equivalent) model (name)_y  \
0                                           0.0           era5
1                                           0.0           era5
2                                           0.0           era5
3                                           0.0           era5
4                                           0.0           era5

   model elevation (surface)_y  utc_offset (hrs)_y  relative_humidity (0-1)  \
0                       563.89                 5.5                     0.91
1                       563.89                 5.5                     0.93
2                       563.89                 5.5                     0.87
3                       563.89                 5.5                     0.82
4                       563.89                 5.5                     0.75

  model (name)  model elevation (surface)  utc_offset (hrs)  \
0         era5                     563.89               5.5
1         era5                     563.89               5.5
2         era5                     563.89               5.5
3         era5                     563.89               5.5
4         era5                     563.89               5.5

   10m_u_component_of_wind (m/s)  10m_v_component_of_wind (m/s)
0                          -2.04                           1.87
1                          -2.10                           1.83
2                          -2.61                           2.36
3                          -2.76                           2.78
4                          -2.79                           2.99