In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
filepath= ("/Users/bhupathiraju_renisha/Desktop/Climate/cleaned_data.csv")

In [3]:
df=pd.read_csv(filepath)

In [4]:
df.head()

,datetime (UTC),"coordinates (lat,lon)",temperature (degC),total_precipitation (mm of water equivalent),relative_humidity (0-1),model (name),model elevation (surface),utc_offset (hrs),10m_u_component_of_wind (m/s),10m_v_component_of_wind (m/s)
0,2005-01-01 00:00:00,"(17.361362, 78.474525)",17.94,0.0,0.91,era5,563.89,5.5,-2.04,1.87
1,2005-01-01 01:00:00,"(17.361362, 78.474525)",17.92,0.0,0.93,era5,563.89,5.5,-2.10,1.83
2,2005-01-01 02:00:00,"(17.361362, 78.474525)",19.86,0.0,0.87,era5,563.89,5.5,-2.61,2.36
3,2005-01-01 03:00:00,"(17.361362, 78.474525)",20.47,0.0,0.82,era5,563.89,5.5,-2.76,2.78
4,2005-01-01 04:00:00,"(17.361362, 78.474525)",21.34,0.0,0.75,era5,563.89,5.5,-2.79,2.99

In [5]:
df.tail()

,datetime (UTC),"coordinates (lat,lon)",temperature (degC),total_precipitation (mm of water equivalent),relative_humidity (0-1),model (name),model elevation (surface),utc_offset (hrs),10m_u_component_of_wind (m/s),10m_v_component_of_wind (m/s)
175315,2024-12-31 19:00:00,"(17.361362, 78.474525)",21.07,0.01,0.77,era5,563.89,5.5,-1.75,-0.42
175316,2024-12-31 20:00:00,"(17.361362, 78.474525)",19.95,0.00,0.81,era5,563.89,5.5,-1.68,-0.32
175317,2024-12-31 21:00:00,"(17.361362, 78.474525)",19.30,0.00,0.83,era5,563.89,5.5,-1.47,-0.45
175318,2024-12-31 22:00:00,"(17.361362, 78.474525)",18.76,0.00,0.89,era5,563.89,5.5,-1.49,-0.38
175319,2024-12-31 23:00:00,"(17.361362, 78.474525)",18.23,0.00,0.90,era5,563.89,5.5,-2.09,-0.74

In [6]:
df.shape

(175320, 10)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 175320 entries, 0 to 175319
Data columns (total 10 columns):
 #   Column                                        Non-Null Count   Dtype
---  ------                                        --------------   -----
 0   datetime (UTC)                                175320 non-null  object
 1   coordinates (lat,lon)                         175320 non-null  object
 2   temperature (degC)                            175320 non-null  float64
 3   total_precipitation (mm of water equivalent)  175320 non-null  float64
 4   relative_humidity (0-1)                       175320 non-null  float64
 5   model (name)                                  175320 non-null  object
 6   model elevation (surface)                     175320 non-null  float64
 7   utc_offset (hrs)                              175320 non-null  float64
 8   10m_u_component_of_wind (m/s)                 175320 non-null  float64
 9   10m_v_component_of_wind (m/s)                 175320 non-null  float64
dtypes: float64(7), object(3)
memory usage: 13.4+ MB

In [8]:
df.dtypes

datetime (UTC)                                   object
coordinates (lat,lon)                            object
temperature (degC)                              float64
total_precipitation (mm of water equivalent)    float64
relative_humidity (0-1)                         float64
model (name)                                     object
model elevation (surface)                       float64
utc_offset (hrs)                                float64
10m_u_component_of_wind (m/s)                   float64
10m_v_component_of_wind (m/s)                   float64
dtype: object

In [9]:
df.isnull().sum()

datetime (UTC)                                  0
coordinates (lat,lon)                           0
temperature (degC)                              0
total_precipitation (mm of water equivalent)    0
relative_humidity (0-1)                         0
model (name)                                    0
model elevation (surface)                       0
utc_offset (hrs)                                0
10m_u_component_of_wind (m/s)                   0
10m_v_component_of_wind (m/s)                   0
dtype: int64

In [10]:
df.duplicated().sum()

0

In [11]:
for i in df.select_dtypes(include="object").columns:
    print(df[i].value_counts())
    print("***"*10)

datetime (UTC)
2005-01-01 00:00:00    1
2018-05-03 03:00:00    1
2018-05-02 19:00:00    1
2018-05-02 20:00:00    1
2018-05-02 21:00:00    1
                      ..
2011-09-02 01:00:00    1
2011-09-02 02:00:00    1
2011-09-02 03:00:00    1
2011-09-02 04:00:00    1
2024-12-31 23:00:00    1
Name: count, Length: 175320, dtype: int64
******************************
coordinates (lat,lon)
(17.361362, 78.474525)    175320
Name: count, dtype: int64
******************************
model (name)
era5    175320
Name: count, dtype: int64
******************************